* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
    line-height: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    position: relative;
}

#header {
    min-height: 150vh;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(79, 79, 172, 0.707),
        transparent
    );
    position: relative;
}
#h1 {
    /* background-color: aquamarine; */
    display: flex;
    /* justify-content: flex-start; */
    flex-wrap: nowrap;
    padding: 1.5rem 0 4rem 0;
    /* margin-right: 5rem; */
    opacity: 0;
    animation: down 0.5s linear forwards;

    animation-delay: 0.4s;
}

#h1 span {
    /* display: inline; */
    text-align: center;
    font-weight: 500;
    /* background-color: beige; */
    width: 50%;
    /* height: auto; */
    font-size: clamp(3rem, 12vw, 15rem);
    /* font-size: 5vw; */
    color: rgb(2, 11, 41);
    padding-top: 13vh;
    /* margin-left: 3rem; */
    /* padding-left: 3rem; */
}

#headlist {
    /* background-color: rgb(97, 43, 43); */
    padding-top: 2.2rem;
    margin-left: 10%;
    width: 30%;
}

#headlist ul {
    color: rgb(2, 11, 41);
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
    /* margin-left: 5rem; */
    /* margin-top: 2.2rem; */
}

#h1 a {
    /* background-color: brown; */
    text-decoration: none;
    font-size: 1.7vw;
    font-weight: 500;
    color: rgb(2, 11, 41);
    letter-spacing: 1px;
    position: relative;
}
#h1 a::before {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: rgb(40, 40, 40);
    color: rgb(44, 44, 44);
    transition: all 0.3s ease;
}
#h1 a:hover::before {
    width: 100%;
    transform: translateX(100);
}
#seconnecter {
    background-color: rgb(255, 0, 255);
    text-align: center;
    /* height: fit-content; */
    padding: 0.3rem 0;
    width: 20%;
    /* margin: -0.3rem 0 5rem 0; */
    /* margin-top: 1.9rem; */
    padding-top: 2.2rem;
    color: rgb(2, 11, 41);
}

@keyframes down {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#h2 {
    /* background-color: blue; */
    color: rgb(2, 11, 41);
    /* width: fit-content; */
    /* text-align: start; */
    margin-top: 6vw;
    padding: 2rem;
    padding-left: 60%;
    font-size: clamp(2rem, 4vw, 6rem);
    /* font-weight: 700; */
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 2.5rem;
    opacity: 0;
    animation: up 0.5s linear forwards;

    animation-delay: 0.1s;
}
@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
#h3 {
    /* background-color: gray; */
    /* text-align: start; */
    padding-right: 4vw;
    padding-left: 60%;
    /* font-weight: 700; */
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 2rem;
}
#h3 button {
    border: 0;
    background-color: rgba(137, 43, 226, 0.373);
    color: white;
    font-size: 1.5rem;
    font-family: Times, serif;
    border-radius: 15px;
    border-top-right-radius: 0;
    padding: 0.6rem 2.5rem;
    transition: all 0.3s ease;
    opacity: 0;
    animation: up 0.5s linear forwards;
    animation-delay: 0.5s;
}
#login {
    margin-right: 1.2rem;
    margin-left: 0.2rem;
    letter-spacing: 1px;
}
#h3 button:hover {
    cursor: pointer;
    /* border-top-right-radius: 15px; */
    border-radius: 20px;
    box-shadow: 1px 1px 3px -1px rgba(59, 6, 82, 0.355);
    transform: translateY(-1px);
    background-color: rgb(255, 255, 255);
    color: rgba(137, 43, 226, 0.61);
}
#h3 p {
    color: rgb(2, 11, 41);
    font-size: 1vw;
    line-height: 1.1vw;
    font-family: monospace;
    padding-bottom: 1rem;
    padding-left: 0.3rem;
    opacity: 0;
    animation: up 0.5s linear forwards;
    animation-delay: 0.3s;
}

#header img {
    position: absolute;
    top: 25%;
    opacity: 0;
    width: 50%;
    transform: translateX(52px);
    animation: up 0.5s linear forwards;
    animation-delay: 1s;
}
#blur {
    /* width: fit-content; */
    /* background-color: aquamarine; */
    padding-bottom: 2rem;
    position: absolute;
    left: 50%;
    bottom: -20%;
    font-size: 3.5vw;
    line-height: 4.5vw;
    font-weight: 600;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.blur-this {
    color: rgba(1, 7, 26, 0.898);
    filter: blur(8px);
    transform: translateY(-50px);
    opacity: 0.6;
    transition: filter 0.7s ease, opacity 0.7s ease, transform 0.7s ease;
}
.blur-this.active {
    filter: blur(0);
    transform: translateY(0);
    opacity: 1;
}
.details {
    border-top: 1px solid rgba(1, 7, 26, 0.898);
    line-height: 1.7rem;
    /* background-color: bisque; */
}
.details.one {
    position: absolute;
    left: 50%;
    bottom: -40%;
    padding: 2rem;
    padding-left: 0;
    width: 20%;
    height: 20%;
}
.details.one h2 {
    color: rgba(1, 7, 26, 0.898);
    font-size: 2rem;
    font-weight: 700;
}
.details.one p {
    /* font-family: monospace; */
    /* font-weight: 700; */
    padding-top: 2rem;
    font-size: 1.7rem;
    color: rgba(128, 128, 128, 0.773);
}
.details.two {
    position: absolute;
    left: 73%;
    bottom: -40%;
    padding: 2rem;
    width: 20%;
    height: 20%;
}
.details.two h2 {
    color: rgba(1, 7, 26, 0.898);
    font-size: 2rem;
    font-weight: 700;
}
.details.two p {
    /* font-family: monospace; */
    /* font-weight: 700; */
    padding-top: 2rem;
    font-size: 1.7rem;
    color: rgba(128, 128, 128, 0.773);
}

main {
    height: 105vh;
    width: 100%;
    position: absolute;
    bottom: -120%;
    /* background-color: blue; */
    /* padding: 2rem; */
}
.bpart2 {
    height: 100%;
    padding-top: 2rem;
}

.bpart2 h2 {
    /* background-color: aqua; */
    padding: 1rem;
    color: rgb(4, 4, 37);
    margin-top: 2rem;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 4.5rem;
}

.services {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.service {
    position: relative;
    width: 21%;
    height: 45%;
    margin-top: 7rem;
    border-radius: 19px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.imgs {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: saturate(0.9);
    transition: all 0.3s ease;
}

.service:hover {
    transform: translateY(10px);
}

.service:hover .imgs {
    filter: contrast(0.7);
}

.service a {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.icon {
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 10%;
    transition: all 0.3s ease;
}

.service:hover .icon {
    transform: translateY(-30px);
}

.txt {
    display: block;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
}

.txt {
    transition: all 0.6s ease;
    transition-delay: 0;
}
.service:hover .txt {
    transform: translateY(-25px);
}

footer#contact {
    height: 50vh;
    width: 100%;
    background: linear-gradient(180deg, #0b0f1a, #070a12);
    color: #e6e6e6;
    padding: 60px 20px 30px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    position: absolute;
    bottom: -150%;
}

footer#contact h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
footer#contact span {
    display: block;
    margin-bottom: 30px;
    color: #9aa3b2;
    font-size: 0.95rem;
}

footer .reseaux {
    /* background-color: #5eead4; */
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 22px;
    padding: 0;
    margin: 0 0 35px;
}

footer .reseaux li {
    transition: transform 0.3s ease;
}

footer .reseaux li:hover {
    transform: translateY(-6px) scale(1.05);
}

footer .reseaux img {
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(0, 255, 255, 0);
    transition: box-shadow 0.3s ease;
}

footer .reseaux li:hover img {
    box-shadow: 0 0 18px rgba(0, 255, 255, 0.35);
}

#contactLink {
    margin-bottom: 10px;
    margin-top: 5rem;
}

#contactLink a {
    color: #5eead4;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

#contactLink a:hover {
    color: #99f6e4;
}

footer p:last-of-type {
    font-size: 0.8rem;
    color: #7b8190;
    margin-top: 15px;
}
