/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f6f7fb;
    color: #1c1e21;
    line-height: 1.6;
}

header {
    background: #ffffff;
    padding: 1.2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 30px rgba(0,0,0,0.04);
    position: sticky;
    top: 0;
    /* z-index: inherit; */
    z-index: 10;
}
header span{
    font-size: 1.2cm;
    padding-left: 1rem;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #6b7280;
    font-weight: 500;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #6366f1;
    transition: all 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

header > a {
    font-family: monospace;
    background: #6366f1;
    color: white;
    padding: 0.6rem 1.2rem;
    margin-right: 2rem;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.3s ease;
}
header > a:hover {
    color: #6366f1;
    background-color: white;
    border: rgba(0, 0, 0, 0.181) 1px solid ;
    cursor: pointer;
}

main {
    padding: 4rem 6rem;
}

.resources h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.resources form {
    /* background-color: #10b981; */
    display: flex;
    /* justify-content: space-between;
    text-align: start; */
    gap: 1rem;
    margin-bottom: 3rem;
}

.resources select,.resources button {
    font-family:monospace;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    background: white;
    font-size: 0.95rem;
}


.resources select:focus{
    border:#6365f1a6 solid 2px;
    box-shadow: 0 0 2px -7px #6b7280;
    outline: none;

    /* transform: translateY(-1px); */
}
input{
    font-weight: 700;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.403);
    background-color: #e5e7eb;
    padding: 1rem;
    font-family: monospace;
    color: gray;
    outline: none;
}
input:focus{
    background-color: #ecfdf5;
}

.resources button {
    font-weight: 600;
    background: #6366f1;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.resources button:hover {
    color: #6366f1;
    background-color: white;
    border: rgba(0, 0, 0, 0.181) 1px solid ;
    cursor: pointer;
}

.resources > div {
    /* background-color: #10b981; */
    /* height: ; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
}

.resources > div > div {
    background: white;
    padding: 1.5rem;
    margin-bottom: 3.5rem;
    border-radius: 20px;
    /* height: 70%; */
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.123);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.imgs{
    height: 42%;
    width: 100%;
    /* height: 100%; */
    background-color: #10b981;
    border-radius: 12px;
    margin-bottom: 2rem;
    overflow: hidden;
}
.imgs img{
    width: 100%;
    height: 100%;
    background-size: contain;
    object-fit: cover;
    margin-bottom: 1rem;


}
.resources > div > div:hover {
    transform: translateY(-4px);
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.187);
}

.Disponible {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 0.3rem 0.8rem;
    border-radius: 1000px;
    font-size: 0.75rem;
    font-weight: 600;
}

.Disponible {
    
    background: #ecfdf5;
    color: #10b981;
}

.unavailable {
    
    background: #fef2f2;
    color: #ef4444;
}

/* .resources img {
    width: 100%;
    height: 140px;
    object-fit: contain;
    margin-bottom: 1rem;
} */

.resources h3 {
    /* padding: 1rem 0; */
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.resources ul {
    height: 25%;
    list-style: none;
    color: #6b7280;
    font-size: 0.95rem;
    /* padding: 1rem 0; */
    /* background-color: #10b981; */
}

.resources ul li {
    margin-bottom: 0.4rem;
}

.resources a {
    display: inline-block;
    font-family: monospace;
    font-weight: 700;
    margin-top: 1.2rem;
    text-decoration: none;
    background: #6366f1;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 12px;
    font-size: 0.9rem;
    margin-bottom: 5rem;
    /* position: sticky; */
    transition: all 0.3s ease;
}
.resources a:hover {
    color: #6365f1;
    background-color: white;
    border: rgba(0, 0, 0, 0.229) 1px solid ;
    cursor: pointer;
}
footer {
    margin-top: 6rem;
    padding: 4rem 2rem;
    background: #11162c;
    text-align: center;
}

footer h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer span {
    display: block;
    margin-bottom: 1.5rem;
    color: #b1b6c0;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

footer img {
    border-radius: 50%;
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.15);
}

footer a {
    color: #6366ff;
    text-decoration: none;
}

footer p {
    margin-top: 0.5rem;
    color: #b1b6c0;
    font-size: 0.9rem;
}