* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f6f7fb;
    color: #1c1e21;
    line-height: 1.6;
}

/* HEADER */
/* The header css is in responsableHeader.css */

.dashboard {
    padding: 4rem 6rem;
}

.dashboard h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
    margin-bottom: 4rem;
}

.stat-card {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

.stat-card h2 {
    font-size: 3rem;
    color: #6366f1;
}

.stat-card p {
    color: #6b7280;
    margin-top: 0.5rem;
}

.stat-card.danger h2 {
    color: #ef4444;
}

.reservations-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.reservation-row {
    display: flex;
    flex-wrap: wrap;
    background: white;
    padding: 1.5rem;
    border-radius: 18px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

.reservation-infos {
    width: 75%;
    /* background-color: red; */
}

.reservation-btns {
    /* background-color: red; */
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
}

.reservation-row h3 {
    font-size: 1.1rem;
}

.reservation-row small {
    color: #6b7280;
}

.details {
    max-height: 0;
    overflow: hidden;
    background-color: #e8e6e6;
    border-radius: 0 0 1rem 1rem;
    padding: 0 1.5rem;
    font-size: 1rem;
    opacity: 0;
    transition:
        max-height 0.4s ease,
        opacity 0.3s ease,
        padding 0.3s ease;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

.details.show {
    max-height: 500px; /* must be larger than content height */
    opacity: 1;
    padding: 1.5rem;
}

.reservation-row.show {
    border-radius: 18px 18px 0 0;
}

.details ul {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
}

.details li {
    margin-inline: 1rem;
    /* list-style: none; */
    font-size: 1.2rem;
}

.details p {
    margin-bottom: 1rem;
}

.details-btn {
    /* margin-left: 4rem; */
    font-family: monospace;
    width: 200px;
    padding: 0.6rem;
    background: #6366f1;
    color: white;
    border: none;
    /* padding: 0.6rem 1rem; */
    border-radius: 10px;
    font-family: monospace;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.details-btn.accept {
    background-color: #10b981;
}

.details-btn.refuse {
    background-color: #f06363;
}

.reservation-row button:hover {
    color: #6366f1;
    background-color: white;
    border: rgba(0, 0, 0, 0.181) 1px solid;
    cursor: pointer;
}

.reservation-row.expired button {
    background: #ef4444;
    transition: all 0.3s ease;
}
.reservation-row.expired button:hover {
    color: #ef4444;
    background-color: white;
    border: rgba(0, 0, 0, 0.181) 1px solid;
    cursor: pointer;
}

footer {
    margin-top: 6rem;
    padding: 4rem 2rem;
    background: #11162c;
    text-align: center;
}

footer h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer span {
    display: block;
    margin-bottom: 1.5rem;
    color: #b1b6c0;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

footer img {
    border-radius: 50%;
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.15);
}

footer a {
    color: #6366ff;
    text-decoration: none;
}

footer p {
    margin-top: 0.5rem;
    color: #b1b6c0;
    font-size: 0.9rem;
}
