* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    background: #f6f7fb;
    color: #1c1e21;
    line-height: 1.6;
}

/* HEADER */
/* The header css is in header.css */

main {
    padding: 4rem 6rem;
    display: flex;
    justify-content: center;
}

section {
    width: 100%;
    max-width: 900px;
    background: white;
    padding: 3rem;
    border-radius: 24px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}

form h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    color: #6366f1;
}

form h3 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: #1c1e21;
}

form p {
    color: #6b7280;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.6rem;
    font-weight: 600;
    color: #374151;
}

input,
textarea {
    width: 100%;
    padding: 0.9rem 1rem;
    border-radius: 14px;
    border: 1px solid #e5e7eb;
    background: #f9fafb;
    font-size: 0.95rem;
    margin-bottom: 1.4rem;
    resize: none;
    outline: none;
    transition:
        border 0.3s ease,
        box-shadow 0.3s ease;
}

input:focus,
textarea:focus {
    border-color: #6366f1;
    box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.15);
    background: #ffffff;
}

form div {
    margin-top: 1.5rem;
}

button {
    margin-top: 2rem;
    background: #6366f1;
    color: white;
    border: none;
    padding: 0.9rem 2.5rem;
    border-radius: 14px;
    font-size: 1rem;
    font-weight: 700;
    font-family: monospace;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: white;
    color: #6366f1;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 6rem;
    padding: 4rem 2rem;
    background: #11162c;
    text-align: center;
}

footer h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer span {
    display: block;
    margin-bottom: 1.5rem;
    color: #b1b6c0;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

footer img {
    border-radius: 50%;
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.15);
}

footer a {
    color: #6366ff;
    text-decoration: none;
}

footer p {
    margin-top: 0.5rem;
    color: #b1b6c0;
    font-size: 0.9rem;
}
